@charset "utf-8";
/*--Reset--*/
*{ margin:0; padding:0; outline:none;}
html{ direction:rtl;}
body{ font-family:Tahoma, Geneva, sans-serif; font-size:14px; line-height:1.5em; background:#444; color:#222;}
h1,h2,h3,h4{ font-family:Arial, Helvetica, sans-serif;}
a img{border:none;}
a{color:#c00;}
table{ border-collapse:collapse;}


/*--Clearfix--*/
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}

/*--Form--*/
form{ margin-bottom:30px;}
fieldset{ border:none;}
fieldset div{margin: 0 0 10px; padding: 5px 160px 5px 0;}
fieldset div label{display: block;float: right; font-weight: bold; line-height: 1.1;  margin: 7px -160px 0 0; width: 140px; text-align:left;}
fieldset div input[type=text],fieldset div input[type=password], fieldset div input[type=file], textarea, select{ display:block; border:1px solid #ccc; -moz-border-radius:5px;  -webkit-border-radius:5px; padding:8px; background: #fff url(../images/graphics/input-bg.png) repeat-x top; width:300px;}
fieldset div input[type=text]:focus, textarea:focus, select:focus{ border:1px solid #999;}
fieldset div select{ width:318px;}
fieldset div input[type=submit]{ background:#c00 url(../images/graphics/menu-bg.png) repeat-x bottom; color:#fff; border:1px solid #900; -moz-border-radius:5px;  -webkit-border-radius:5px; padding:8px 16px; font-family:Tahoma, Geneva, sans-serif; cursor:pointer; font-weight:bold; text-shadow:1px 1px 1px #666;}
fieldset div ul { list-style:none;}
fieldset div ul li { margin: 0 0 5px;}
fieldset div ul li label {display: inline;float: none;font-size: 12px; font-weight: normal; margin: 0; padding: 0;}
fieldset div ul li input {background: none;border: none; display: inline; margin: 0 0 0 5px ; padding: 0;width: auto;}
fieldset div.controls a{ margin-right:5px;}

/*--messages--*/
.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}

/*--Layout--*/
.wrapper{ width:950px; margin:0 auto;}

/*--content--*/
.content{ background:#e9edf2 url(../images/graphics/content-bg.png) repeat-x top; padding:30px 0;}
.content .main{ min-height:400px; padding:30px; background:#fff; border:1px solid #ddd; -moz-box-shadow: 3px 3px 3px #ddd; -webkit-box-shadow: 3px 3px 3px #ddd;}
.content .main h2{margin-bottom:20px; font-size:30px; padding-bottom:10px; border-bottom:1px solid #ddd; }
.content .main p{ margin:20px 0;}

	/*--Login--*/
	.login{ width:400px; margin:50px auto 150px;  background:#fff; border:1px solid #ddd; -moz-box-shadow: 3px 3px 3px #ddd; -webkit-box-shadow: 3px 3px 3px #ddd;}
	.login h2{ background:url(../images/graphics/menu-bg.png) repeat-x; padding:10px; color:#fff; font-size:21px; margin-bottom:20px; text-shadow:1px 1px 1px #666;}
	.login form{margin:0;}
	.login input[type=text], .login input[type=password]{ width:180px;}

/*--header--*/
.header{ background: url(../images/graphics/header-admin-bg.png) repeat-x; padding:10px 0; height:40px;}
.header h1.logo a{ display:block; background:url(../images/graphics/logo-admin.png) no-repeat;  float:right; width:142px; height:40px; text-indent:-9999px; overflow:hidden; text-decoration:none; margin-top:6px;}
.header .top-service{ float:left; font-size:12px;}
.header .top-service a{ color:#222;}

	
/*--footer--*/
.footer{ background:#444; padding:20px 0; text-align:center; color:#fff; font-size:12px;}
.footer a{ color:#fff;}

/*--menu--*/
.menu{ background:#c00 url(../images/graphics/menu-bg.png) repeat-x bottom; }
.menu ul{ list-style:none;}
.menu ul li{ float:right;}
.menu ul li a{ display:block; color:#fff; padding: 10px 15px; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; text-shadow:1px 1px 1px #666; background:url(../images/graphics/menu-seprator.png) repeat-y right;}
.menu ul li a:hover, .menu ul li a.selected{ background:#444; color:#fff;}

ul.topnav li{position: relative;}
ul.topnav div.sub ul{ position:absolute; top: 41px; right: 0; float:right; display:none;}
ul.topnav div.sub ul li{float:none; }
ul.topnav div.sub ul li a{ width:100%;  background:#c00 url(../images/graphics/menu-bg.png) repeat-x bottom; display:block; padding:10px 15px; white-space:nowrap;}
ul.topnav div.sub ul li a:hover{ background:#444;}


/*--table--*/
table th{ text-align:right; background:#f1f1f1;}
table th, table td{ padding:10px; border:1px solid #ddd;}

.icon{ display:block; text-indent:-999px; overflow:hidden; text-decoration:none;}
.edit{ background:url(../images/icons/edit.png) no-repeat right; }
.delete{ background:url(../images/icons/delete.png) no-repeat right; }

.field_with_errors{ display:inline; padding:0; margin:0; color:#c00;}
